POSTGRES_HOST="{{ test_app_postgres_host }}"
POSTGRES_DB="{{ test_app_postgres_db }}"
POSTGRES_USER="{{ test_app_postgres_db_user }}"
POSTGRES_PASSWORD="{{ test_app_postgres_db_password }}"
HOST="{{ test_app_host }}"
REDIS_ADDR="{{ test_app_redis_addr }}"
DEBUG=1